page-endereco {
  .btn {
    width: 50%;
    color: white;
    font-size: 17px;
    text-transform: none;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    height: 3.4rem;
    background-color: $primary;
  }

  .fundo {
      background-color: #ead5b6 !important;
  }

}
