<ion-header>
    <ion-navbar>
        <ion-title>{{"Favoritos"}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" class="header-btn" (click)="navcart()">
                <ion-icon name="cart"></ion-icon>
                <ion-badge class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content [ngClass]="isFavourite() ? 'fundo' : 'bg'">
    <div *ngIf="!isFavourite()">
        <ion-row>
            <ion-icon class="empty-cart" name="heart"></ion-icon>
        </ion-row>
        <h4>Lista de favoritos está vazia!</h4>
    </div>

    <div *ngIf="isFavourite()">
      <div style="padding: 4px;"></div>
      <ion-list *ngFor="let favorito of Favoritos ; let i=index " class="padding"><!-- list -->
          <ion-item text-wrap (click)="navigate(favorito.idEstabelecimento)" style="border-radius: 8px;"><!-- item -->
              <ion-row class="favorito"><!-- row -->
                  <ion-col col-6 style="max-width: 28%;"><!-- col with 50  width -->
                      <img src="{{favorito.dsImagem}}" alt="foodname" style="height: 80px; border-radius: 50%;"/>
                  </ion-col>
                  <ion-col col-6 style="min-width: 70%;"><!-- col with 50% width -->
                      <p class="item-name">{{favorito.dsFantasia}}</p>
                      <p>{{favorito.dsCategoria}}</p>
                      <p>
                         <img src="assets/img/{{favorito.dsIcone}}" style="height: 15px; width: 15px; display:inline;"/>
                         {{favorito.dsStatus}}
                      </p>

                      <div style="float: left; width: 70%; color: #666; font-size: smaller;">
                        <img src="assets/img/tempo.jpg" style="height: 15px; width: 15px; display:inline;"/>
                        {{favorito.dsDuracao}}
                      </div>
                      <div style="text-align: right; color: #DAA520;">
                        <img src="assets/img/star.png" style="height: 14px; width: 14px; display:inline;"/>
                        <b>{{favorito.dsClassificacao}}</b>
                      </div>

                  </ion-col>
              </ion-row><!--end row -->
          </ion-item><!-- item -->
      </ion-list>
    </div>
</ion-content>
