page-adicional {
  .title-panel{
    background-color: #ededed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
    background-image: -webkit-linear-gradient(top, white, #ededed);
    background-image: -moz-linear-gradient(top, white, #ededed);
    background-image: -ms-linear-gradient(top, white, #ededed);
    background-image: -o-linear-gradient(top, white, #ededed);
    background-image: linear-gradient(top, white, #ededed);
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #dbdbdb;
    height: 44px;
    padding: 0 15px;
    line-height: 44px;
    color: gray;
    font-weight: bold;
  }

  .produto{
    font-size: 18px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    font-weight: bold;
    color: #b52e31;
  }

  .adicional{
    font-size: 13px;
    color: gray;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
  }

  .valor{
    font-size: 12px;
    color: #3c7508;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-bottom: solid 1px;
    border-bottom-color: #e0e0e0;
  }

  .lista{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-color: #e0e0e0;
  }


    .item {
      background-color: #e0dddd;

      display: block;
      margin: 0 auto;
      font-size: 12px;
    }
    .item.item-block .item-inner {
      border-bottom: solid 1px;
      border-bottom-color: #cccccc;
    }
    .item-input .label {
      color: $white;
    }

  .geral{
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    width: 100%;
  }

  .btn {
    width: 100%;
    font-size: 17px;
    text-transform: none;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    height: 4.4rem;
    background-color: $primary;
  }

  .item-inner{
    border-bottom: 1px solid white !important;
  }

  .item-radio-checked.item-md ion-label{
    color: black !important;
  }

}
