page-pedido-finalizado {

  .topo {
    text-align: center;
    color: #3c7508;
  }

  .corpo {
    padding-top: 30px;
    padding-left: 10px;
  }

  .btn {
    width: 49%;
    padding-top: 12px;
    font-size: 14px;
    text-transform: none;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    height: 4.4rem;
    background-color: $primary;
    text-align: center;
    color: white;
  }



}
